streamlit==1.57.0
google-generativeai==0.5.0
groq
pandas==2.2.1
numpy==1.26.4
openpyxl==3.1.2
xlrd==2.0.1
sqlalchemy==2.0.27
plotly==5.19.0
python-dotenv==1.0.1
Pillow==10.2.0
tabulate==0.9.0
fpdf2==2.7.9
xlsxwriter==3.1.9
reportlab
kaleido
